.headImage{


   text-align: left;
   margin: 20px;
   border-radius: 50%;

}
body{

  margin: 0px;
  /* 设置body字体的颜色 */
  background-color: #333333;

 /* 设置前景色 */
  color: #fff;

 /* 通过设置text-alight使用内部的元素居中显示 */
  text-align: center;
}
.two{
 font-size: 30px;


}
.three{
  text-align: left;
  margin: 20px auto;
  display: inline-block;
  font-size: 20px;
  color: orange;

}

.three p{
display: inline-block;
text-indent: 2em;
margin: 15px 5px;
background-color: white;


}

.four{
  text-align: left;
  margin: 20px auto;
  display: inline-block;
  font-size: 20px;
  color: orange;

}
.four p{
  display: inline-block;
  margin: 15px 5px;
  background-color: white;
  font-size: 20px;

}
.five
{
text-align: right;
margin: 30px auto;
display: inline-block;
font-size: 20px;
color: orange;

}
.five p {
  display: inline-block;
  background-color: white;
  font-size: 20px;

}
nav {
    text-align: center;
}

nav a {
    display: inline-block;
    background-color: #ce5d1b;
    height: 30px;
    line-height: 30px;
    width: 30%;
    font-size: 14px;
}
